# Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# WSO2 Inc. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

# Project information
site_name: WSO2 Updates 2.0 Documentation
site_description: Documentation for WSO2 Updates 2.0
site_author: WSO2
site_url: https://updates.docs.wso2.com/en/latest/

# Repository
repo_name: wso2/docs-updates
repo_url: https://github.com/wso2/docs-updates
edit_uri: https://github.com/wso2/docs-updates/edit/master/en/docs/

# Copyright
copyright: WSO2 Updates 2.0 - Documentation

# Configuration
theme: material
theme:
  name: material
  palette:
    primary: deep-orange
    accent: deep-orange
  custom_dir: theme/material
  logo: images/logo.svg
  favicon: images/favicon.png
  highlightjs: true
  feature:
    tabs: true
  language: 'en'
  
# Navigation
nav:
    - 'Home': index.md
    - Updates :
      - Get Started :
        - 'Overview': 'updates/overview.md'
        - 'New to this Release': 'updates/new-in-this-release.md'
      - How to Update :
        - 'Using Update Tool': 'updates/update-tool.md'
        - 'Useful Update Commands': 'updates/update-commands.md'
        - 'Resolve Conflicts': 'updates/resolve-conflics.md'
        - 'Continuous Update': 'updates/continuous-update.md'
      - 'Best Practise': 'updates/best-practices.md'
      - 'Troubleshoot guide': 'updates/troubleshoot.md'
      - 'Frequently Asked Questions': 'updates/faq.md'
      - 'Reference Page': 'updates/reference.md'
    - '': page-not-found.md
     
# Extensions
markdown_extensions:
  - markdown_include.include:
      base_path: docs
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      linenums: true
      use_pygments: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
    
# Extra
extra_css:
  - assets/lib/highlightjs/default.min.css
  - assets/css/theme.css
extra_javascript:
  - assets/lib/highlightjs/highlight.min.js
  - assets/js/theme.js
  - assets/js/fslightbox.js
  - assets/lib/backtotop/js/util.js
  - assets/lib/backtotop/js/main.js
extra:
  social:
    - type: github
      link: https://github.com/wso2
    - type: twitter
      link: https://twitter.com/wso2
    - type: linkedin
      link: https://www.linkedin.com/company/wso2
  site_version: 2.0.0
